body {
  background: #0a0a0a;
  color: #f2f2f2;
  font-family: 'inter', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1.5rem;
  height: 50vh;
  width: 85%;
  background-image: url("IMG-20251122-WA0024.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid blue;
}

/* media quaery where if the screen max0width is 1024px and 600px is shold display a margin of 3rem in the .container*/
@media (max-width: 1024px) and (min-width: 600px) {
  .container {
    margin: 3rem;
  }
}

.container h1 {
  font-size: 2rem;
  color: rgb(93, 205, 243);
  background: linear-gradient(90deg, white, #424650);
  -webkit-background-clip: text;
  background-clip: text;
  margin: 0;
}

